/*
 * -------------------------------------------------
 *  Nextflow config file for local genomes paths
 * -------------------------------------------------
 * Defines reference genomes, using Genome paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  // illumina iGenomes reference file paths
  genomes {
    'GRCh37' {
      fasta       = "${params.genomes_base}/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
      bwa         = "${params.genomes_base}/Ensembl/GRCh37/Sequence/BWAIndex/genome.fa"
      bowtie2     = "${params.genomes_base}/Ensembl/GRCh37/Sequence/Bowtie2Index/"
      star        = "${params.genomes_base}/Ensembl/GRCh37/Sequence/STARIndex/"
      hisat2      = "${params.genomes_base}/Ensembl/GRCh37/Sequence/Hisat2ndex/"
      bismark     = "${params.genomes_base}/Ensembl/GRCh37/Sequence/BismarkIndex/"
      gtf         = "${params.genomes_base}/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
      bed12       = "${params.genomes_base}/Ensembl/GRCh37/Annotation/Genes/genes.bed"
      mito_name   = "MT"
      macs_gsize  = "2.7e9"
    }
  }
}
